        <div id = "photo">
        <img src = "../assets/Greatest_Dad_Wooden_Frame.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Greatest Dad Personalized Wooden Photo Frame</b></h2>
        <h3>Without my father, I would not be here- share your love for dad with this
        thought on Fathers Day. Show your immense love and gratitude towards your dad
        by gifting him this unique steam beech wood personalized Photo Frame with elegant
        finish. You can upload your two favourite pictures.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: J11114458</li>
            <li>Material: Wooden</li>
            <li>Mode: Landscape</li>
            <li>Size: 8in X 6in</li>
            <li>Type: Wall Hangings</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 750</h3>
