<br>
<div class='row'>
<div class="col-sm-3 Sidebar">
<a routerLink="dog-lover-notebook">Dog Lover Notebook</a>
<br>
<a routerLink="eco-friendly-diary-with-wooden-bookmarks">Eco-friendly Diary With Wooden Bookmarks</a>
<br>
<a routerLink="italian-soft-pu-notebook">Italian Soft PU Notebook</a>
<br>
<a routerLink="luxurious-leather-notebook">Luxurious Leather Notebook</a>
<br>
<a routerLink="peacock-blue-leather-journal">Peacock Blue Leather Journal</a>
<br>
<a routerLink="soil-mate-eco-friendly-notebook">Soil-Mate Eco-friendly Notebook</a>
</div>
<div class="col-sm-9 Content">
<router-outlet></router-outlet>
</div>
</div>
