        <div id = "photo">
        <img src = "../assets/Eco-friendly_Diary_With_Wooden_Bookmarks.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Eco Friendly Diary with Set of 4 Wooden Bookmarks</b></h2>
        <h3>Big dreams deserve big surprises. This eco-friendly diary nestles your dreams &
        cares for the environment with motivation of the words 'Make Things Happen'. With
        four quirky bookmarks depicting your passion, you can always track the story of your
        dreams. Add name & gift to self or a loved one.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: M11139371</li>
            <li>Note Material: Cotton Linen</li>
            <li>Bookmark Size: 5.5in X 2in X 0.75in</li>
            <li>Style: Modern</li>
            <li>Type: Stationaries</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 645</h3>
