        <div id = "photo">
        <img src = "../assets/Aloe_Succulent_In_Papa_Ceramic_Pot.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Aloe Succulent in Papa Special Personalized Ceramic Pot</b></h2>
        <h3>Gift this aloe succulent to your dear papa on Fathers Day and make him feel very delighted.
        The aloe, which has numerous medicinal properties, comes in a light blue personalized ceramic
        planter. The plants dimension is approximately 5 inches. Purchase it from IGP.com.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: L11095507</li>
            <li>Planter Material: Ceramic</li>
            <li>Planter Size: 4 x 4 Inches</li>
            <li>Type: Others</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 450</h3>
