<br>
<div class='row'>
<div class="col-sm-3 Sidebar">
<a routerLink="aloe-succulent-in-papa-ceramic-pot">Aloe Succulent In Papa Ceramic Pot</a>
<br>
<a routerLink="birthday-led-lamp">Birthday Led Lamp</a>
<br>
<a routerLink="scented-candle-votive">Scented Candle Votive</a>
<br>
<a routerLink="telescope-in-wooden-birthday-box">Telescope In Wooden Birthday Box</a>
<br>
<a routerLink="tinned-teddy-bear">Tinned Teddy Bear</a>
</div>
<div class="col-sm-9 Content">
<router-outlet></router-outlet>
</div>
</div>
