        <div id = "photo">
        <img src = "../assets/Cassia_Watch_And_Hammered_Bar_Bracelet.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalised Cassia Watch And Hammered Bar Set</b></h2>
        <h3>Two gifts in one, the Ellie Beaumont watch and hammered bar bracelet can both include special engravings,
        perfect for any fashionista who loves the layered jewellery look.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b><li>SKU: L11152008</li>
            <li>Material: Leather and Rose Gold</li>
            <li>Brand: Ellie Beaumont</li>
            <li>Gender: Women</li>
            <li>Type: Electronics</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 6600</h3>
