        <div id = "photo">
        <img src = "../assets/Wireless_Bluetooth_Headphones.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Wireless Bluetooth Headphones with Personalized Stand</b></h2>
        <h3>Keep your music with you at all times for you can move to the rhythm of it as you wish. These over the ear
        Bluetooth Headphones with mic can play your favorite music/podcasts/audiobooks for five hours long. Comes with
        a quirky wooden stand to keep your headphones safe and handy, personalize with a name.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>Stand Size: 4.3in X 1.7in X 8.8in</li>
            <li>Stand Brand: Nilu Furniture</li>
            <li>Headphone Brand: Xech</li>
            <li>Headphone Connectivity: 10 metres</li>
            <li>Headphone Capacity: 5 Hours</li>
            <li>Type: Electronics</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 3425</h3>
