        <div id = "photo">
        <img src = "../assets/Inspiring_Power_Bank.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Customized Turbo Power Bank 10000 mAh with Inspiring Quote</b></h2>
        <h3>Picking a gift item, i.e. remembering yet useful is a tough task. Well, now its
        not as this customized power bank is one of the best gift item that will become favorite
        for anyone who receives it. The power bank has battery capacity of 10000 mAh and has
        print of inspirational quote on it.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b><li>SKU: L11125300</li>
            <li>Brand: Syska</li>
            <li>Connectivity: 2 USP Port and Socket</li>
            <li>Capacity: 10000 mAh</li>
            <li>Type: Electronics</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 1675</h3>
