        <div id = "photo">
        <img src = "../assets/Telescope_In_Wooden_Birthday_Box.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Telescope in Personalized Wooden Birthday Box</b></h2>
        <h3>Say Happy Birthday to your favorite maritime sailor with this uniquely
        designed decor Telescope ideal as a nautical keepsake with an antique finish
        in brass. The ancient carvings make this one special. Personalize the
        Wooden Box with their name to put a unique touch.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: L11116500</li>
            <li>Material: Antique Finish Brass</li>
            <li>Size: 6in X 1.5in</li>
            <li>Type: Others</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 745</h3>
