<br>
<div class='row'>
<div class="col-sm-3 Sidebar">
<a routerLink="birthday-special-power-bank">Birthday Special Power Bank</a>
<br>
<a routerLink="cassia-watch-and-hammered-bar-bracelet">Cassia Watch And Hammered Bar Bracelet</a>
<br>
<a routerLink="inspiring-power-bank">Inspiring Power Bank</a>
<br>
<a routerLink="wireless-bluetooth-headphones">Wireless Bluetooth Headphones</a>
<br>
<a routerLink="vintage-wooden-bluetooth-speaker">Vintage Wooden Bluetooth Speaker</a>
</div>
<div class="col-sm-9 Content">
<router-outlet></router-outlet>
</div>
</div>
