        <div id = "photo">
        <img src = "../assets/Birthday_Special_Power_Bank.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Birthday Special Personalized Power Bank 10000 mAh</b></h2>
        <h3>No matter how far you are with your dear ones, gifts always removes the distance barriers.
        If you are looking for an useful birthday gift, this power bank with 10000 mAh proves to be a
        great companion while travelling. Excellent for gifting on birthday. Add name for personalization.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b><li>SKU: L11125298</li>
            <li>Brand: Syska</li>
            <li>Connectivity: 2 USP Port, Socket</li>
            <li>Capacity: 10000 mAh</li>
            <li>Type: Electronics</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 1625</h3>
