        <div id = "photo">
        <img src = "../assets/Dog_Lover_Notebook.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Dog Lover Personalized Notebook</b></h2>
        <h3>Do you find yourself pawsitively fur-tastic around the furry fluffs? Then you
        have the soul of a true Dog lover. The Pet Lover Personalized Notebook is perfect
        for telling the world loud & clear that you're a die-hard doggo lover.
        Personalize it with a Name to present it to a dog lover.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: J11132217</li>
            <li>Cover: Spiralbound Cover</li>
            <li>Size: 5.9in X 8.2in X 0.5in</li>
            <li>Paper: Normal Paper</li>
            <li>No. of Pages: 150</li>
            <li>Type: Stationaries</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 375</h3>
