        <div id = "photo">
        <img src = "../assets/Birthday_LED_Lamp.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Happy Birthday Personalized <br>LED Lamp</b></h2>
        <h3>Let the gleaming aura be upon the Birthday boy/girl; send this lit token of best
        wishes and they shall keep you in remembrance. Designed with cute and quirky graphics,
        you can personalize this LED Lamp with a picture and a name. Perfect memento to be
        kept by the bedside table or on the desk.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: J11135095</li>
            <li>Material: Acrylic</li>
            <li>Size: 4.2in X 2.3in X 5.3in</li>
            <li>Theme: Modern</li>
            <li>Type: Others</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 645</h3>
