        <div id = "photo">
        <img src = "../assets/Nail_Art_Name_Plate.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Nail Art Name Plate</b></h2>
        <h3>Welcome your guests to your home in a fresh and fun way. Introducing
        Personalized Nail Art Name Plate, a unique new take on the traditional
        nameplates. The nameplate is pretty easy to hang up on the main gate or
        outer wall. It will make for a great housewarming gift for your friends
        who just bought their <br>dream home.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS">PRODUCT SPECIFICATIONS :</h3>
        <ul id = "list">
            <b>
            <li>SKU: Q10077703</li>
            <li>Maximum 7 leters</li>
            <li>Size: 18in X 6.5in X 12mm </li>
            <li>Material: MDF, wool & nails</li>
            <li>Color: Pink or Blue</li>
            <li>Type: Wall Hangings</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 1899</h3>
