        <div id = "photo">
        <img src = "../assets/Tinned_Teddy_Bear.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalised Teddy Bear in a <br>Gift Tin</b></h2>
        <h3>Show a very special loved or little one just how much you love them with this super cute and
        cuddly Personalised Teddy Bear! This beautiful teddy is soft, snuggly and engraved with a personalised
        message on his stylish heart shaped tag. He's even presented in a stylish gift tin, so you don't
        need to wrap him up!</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: T11456386</li>
            <li>Message (72 Characters Max)</li>
            <li>Size: 17.5cm x 10.5cm x 10.5cm</li>
            <li>Bear presented in special tin</li>
            <li>Type: Others</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 3059</h3>
