        <div id = "photo">
        <img src = "../assets/Italian_Soft_PU_Notebook.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Italian Soft PU Notebook</b></h2>
        <h3>Your ideas are BOLD and strikingly different as if written in italics!
        Never let these fleeting thoughts flutter away and seize them with this
        stylish & cool Personalized Italian Soft PU Notebook. Perfect companion to
        scribble your world into. Personalize it with a name.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: M11124651</li>
            <li>Cover: Rich Leather Finish PU Cover</li>
            <li>Size: 8.5in X 5.5in X 1in</li>
            <li>Paper: 70 GSM</li>
            <li>No. of Pages: 96</li>
            <li>Type: Stationaries</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 525</h3>
