<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 Header">
      <a routerLink="/"><img id="logo" src="../assets/logo.png" alt="logo"/></a>
      <a routerLink="/"><img id="title" src="../assets/title.jpeg" alt="title"/></a>

    </div>
  </div>

 <router-outlet></router-outlet>

  <div class="row">
    <div class="col-sm-12 Footer">
      <div id="footer">
        <pre id="contactus">Contact Us</pre>
        <pre id="details">Ph No. 9877899870     Instagram: thegiftshop     Gmail: thegiftshop@gmail.com</pre>
      </div>  
    </div>
  </div>
</div>