        <div id = "photo">
        <img src = "../assets/Birthday_Photo_Clock.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Birthday Photo Clock</b></h2>
        <h3>A 2-in 1 Personalized Birthday Photo Wall Clock that can be
        used as a quirky photo frame to add some fun to any wall. Makes
        a perfect gift for anyone whose birthday you want to make special.
        Personalize it with a Picture and a Name to make it a <br>memorable gift.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: J11117297</li>
            <li>Theme: Modern</li>
            <li>Size: 11.5in X 11.5in X 0.5in</li>
            <li>Type: Wall Hangings</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 825</h3>
