<br>
<div class='row'>
<div class="col-sm-3 Sidebar">
<a class="links" routerLink="brass-heart-pendant">Brass Heart Pendant</a>
<br>
<a class="links" routerLink="glass-bottle">Glass Bottle</a>
<br>
<a class="links" routerLink="glass-jewelry-box">Glass Jewelry Box</a>
<br> 
<a class="links" routerLink="interlocking-hearts-necklace">Interlocking Hearts Necklace</a>
<br>
<a class="links" routerLink="russian-ring-necklace">Russian Ring Necklace</a>
<br>
<a class="links" routerLink="wooden-desk-organizer">Wooden Desk Organizer</a>
</div>
<div class="col-sm-9 Content">
<router-outlet></router-outlet>
</div>
</div>
