        <div id = "photo">
        <img src = "../assets/Russian_Ring_Necklace.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalised 9ct Mixed Gold Russian Ring Necklace</b></h2>
        <h3>Beautifully and expertly handcrafted, this Russian ring necklace combines 9ct white gold,
        yellow gold and rose gold. Personalise each ring with a name for a gift to be cherished.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b><li>SKU: J11214717</li>
            <li>Material: Gold</li>
            <li>Set Type: Single</li>
            <li>Gender: Women</li>
            <li>Style: Russian</li>
            <li>Gemstones: Without Stones</li>
            <li>Type: Accessories</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 49000</h3>
