        <div id = "photo">
        <img src = "../assets/Photoframe_Of_Friends.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Photo Frame for Friend</b></h2>
        <h3>To frame a picture that brings back a thousand fond memories,
        we bring you this adorable Personalized Photo Frame for Friends.
        A thoughtful message with a cherished photo, this photo frame is
        sure to bring a bit more love and warmth to the interior, be it
        yours or of your friend.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS">PRODUCT SPECIFICATIONS :</h3>
        <ul id = "list">
            <b>
            <li>SKU: J11114458</li>
            <li>Material: Wooden</li>
            <li>Photo Size: 7in X 7in </li>
            <li>Mode: Landscape</li>
            <li>Size: 10in X 8in</li>
            <li>Type: Wall Hangings</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 595</h3>
