        <div id = "photo">
        <img src = "../assets/Mini_Canvas_Photoframe.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Full Image Personalized Mini Canvas</b></h2>
        <h3>Make your loved ones feel special with this cute personalized mini canvas.
        The canvas is of size 4.5in x 6.2in and rests on a wooden stand. The canvas
        can be personalized with a full image of your choice. Kindly make sure to
        upload a horizontal image only for better results.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: J11067723</li>
            <li>Theme: Personalised</li>
            <li>Size: 4.5in X 6.2in</li>
            <li>Shape: Landscape</li>
            <li>Type: Wall Hangings</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 550</h3>
