 <div class="row">
    <div class="col-sm-12 Navigation" >
      <a class="categories" routerLink="Accessories">Accessories</a>
      <a class="categories" routerLink="Electronics">Electronics</a>
      <a class="categories" routerLink="Stationaries">Stationaries</a>
      <a class="categories" routerLink="Wall-Hangings">Wall Hangings</a>
      <a class="categories" routerLink="Others">Others</a>
    </div>
  </div>

<div class="row">
<div class="col-sm-12">
  <router-outlet></router-outlet>
</div>
</div>
