
.Navigation {
    margin-top: 1%;
    height: 1%;
    background-color: rgb(228, 138, 153);
}

.categories {
    margin-left: 48px;
    margin-right: 48px;
    text-align: center;
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
    padding: 7px 50px 7px 50px;
    border: 2px solid gold;
}