
        <div id = "photo">
        <img src = "../assets/Peacock_Blue_Leather_Journal.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Journal in Blue <br>Leather Cover</b></h2>
        <h3>Make a lasting impression on the recipient's mind with this journal
        elegantly covered up with oriental artistry. The blue leather cover comes
        with an incredible peacock design in royal black hue. Put an extra
        special touch with the personalization.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: J11108551</li>
            <li>Cover: Leather Cover</li>
            <li>Size: 8in X 6in X 1in</li>
            <li>Paper: Handmade Paper</li>
            <li>No. of Pages: 100</li>
            <li>Type: Stationaries</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 895</h3>
