        <div id = "photo">
        <img src = "../assets/Interlocking_Hearts_Necklace.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Solid Gold Interlocking Hearts Necklace</b></h2>
        <h3>Handmade in the UK, this gorgeous necklace available in solid gold or rose gold, features two interlocking
        hearts, both of which can be personalised with your choice of names.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b><li>SKU: J11113717</li>
            <li>Material: Rose Gold or Gold</li>
            <li>Set Type: Pair</li>
            <li>Gender: Women</li>
            <li>Style: Two Hearts Interlinked</li>
            <li>Gemstones: Without Stones</li>
            <li>Type: Accessories</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 12000</h3>
