        <div id = "photo">
        <img src = "../assets/Vintage_Wooden_Bluetooth_Speaker.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Vintage Wooden Finish Bluetooth Speaker</b></h2>
        <h3>Feeling groovy? Get on with the vibe with some loud music on your
        all new Vintage Wooden Finish Bluetooth Speaker. With so many amazing
        features, it makes for an awesome gift for your music lover friends!
        Buy one now.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b><li>SKU: L11678300</li>
            <li>Contains FM Radio</li>
            <li>6-8 Hour Playing Time</li>
            <li>Dimension - 19 x 17 cm</li>
            <li>Material: Plastic with Wooden Finish</li>
            <li>Type: Electronics</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 1999</h3>
