
        <div id = "photo">
        <img src = "../assets/Glass_Bottle.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Glass Water Bottle</b></h2>
        <h3>The perfect thing to keep the heart healthy and body hydrated. This Personalized
        Glass Water Bottle with printed reminders to drink water at regular intervals is
        just what one needs; be it at home, office or while travelling. Add name to make
        it yours or gift it to someone special.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b><li>SKU: J11113702</li>
            <li>Material: Glass</li>
            <li>Set Type: Single</li>
            <li>Size: 11.2in X 2.5in </li>
            <li>Style: Modern</li>
            <li>Capacity: 800ml</li>
            <li>Type: Accessories</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 795</h3>
