        <div id = "photo">
        <img src = "../assets/Heart_Shaped_Birthday_Frame.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Heart Shaped Photo Frame</b></h2>
        <h3>Let them know they live in your heart with this Personalized Heart
        Shaped Photo Frame. The recipient will love to make this amazing rock
        tile a part of their desk decor. A beautiful picture will make it a
        complete gift to surprise your loved one.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: J11132649</li>
            <li>Material: Stone</li>
            <li>Photo Size: 7in X 7in </li>
            <li>Mode: Heart Shaped</li>
            <li>Size: 7.2in X 7in</li>
            <li>Type: Wall Hangings</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 885</h3>
