<div id = "photo">
  <img src = "../assets/Glass_Jewelry_Box.jpeg" />
</div>
<aside>
  <br>
  <h2><b>Beautiful Personalized Glass Jewelry Box</b></h2>
  <h3>Curated with a frame and panelled with clear glass, this Jewellery Box is an elegant and classy storage solution for
      your jewellery and trinkets. The print of flowers makes it look attractive! You can gift it to your wife for anniversary
      or birthday by adding her name on it.</h3>
  <br>
  <div id = "specification">
    <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
    <ul id = "list">
      <b><li>SKU: L11102156</li>
      <li>Material: Iron Glass</li>
      <li>Size: 5.5in X 3.5in X 2.5in</li>
      <li>Gender: Women</li>
      <li>Type: Accessories</li></b>
    </ul>
  </div>
</aside>
<h3 id = "price">Price: Rs. 895</h3>
