        <div id = "photo">
        <img src = "../assets/Soil-Mate_Eco-friendly_Notebook.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>My Soil-mate Personalized Eco-Friendly Notebook</b></h2>
        <h3>For the ones who are more about that wit & quirk rather than
        mushy romance, here we have the perfect pick for your soulmate,
        the My Soil-mate Personalized Eco-Friendly Notebook made from
        Cork material. Personalize with a Name of yours truly.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: M11124968</li>
            <li>Cover: Cork</li>
            <li>Size: 5in X 5in X 5in</li>
            <li>Paper: 70 GSM</li>
            <li>No. of Pages: 90</li>
            <li>Type: Stationaries</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 495</h3>
