        <div id = "photo">
        <img src = "../assets/Scented_Candle_Votive.jpeg" />
        </div>
        <aside>
        <br>
        <h2><b>Personalized Scented Candle Votive with Quote</b></h2>
        <h3>The Cedar & Balsam fragrance of the Personalized 3 Wick Inspirational Quote Scented Candle
        Votive soothes your senses and decorates your home with ease. It is a great gift for a special
        occasions, birthday & anniversaries. Add name & enjoy gifting with a personalized touch.</h3>
        <br>
        <div id = "specification">
        <h3 id = "SPECIFICATIONS"><b>PRODUCT SPECIFICATIONS :</b></h3>
        <ul id = "list">
            <b>
            <li>SKU: M11123786</li>
            <li>Material: Wax</li>
            <li>Size: 5.1in X 3.5in X 2.7in</li>
            <li>Type: Others</li></b>
        </ul>
        </div>
        </aside>
        <h3 id = "price">Price: Rs. 795</h3>
